<table class="grid-table">
  <thead>
    <tr>
      <th *ngFor="let column of headerColumns">{{column}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of displayData">
      <td *ngFor="let columnName of headerColumns"> {{row[columnName]}} </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colSpan="{{headerColumns.length}}">
        <button class="prev" (click)="prev()">Prev</button>
        <select id="grid_page_size" (change)="changePageSize()">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
        </select>
        <button class="next" (click)="next()">Next</button>
      </td>
    </tr>
  </tfoot>
</table>

