.grid-table {
  width: 100%;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 4px;
  text-align: left;
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  thead {
    tr {
      th {
        background: none 0% 0% repeat rgb(249, 250, 251);
        text-align: inherit;
        border-left: none;
        border-radius: 4px 0px 0px;
        padding: 12px;
        transition-duration: 0.1s, 0.1s;
        border-bottom: 1px solid rgba(34, 36, 38, 0.1);
        border-right: 1px solid rgba(34, 36, 38, 0.1);
      }
    }
  }
  tbody {
    max-height: 400px;
    overflow: auto;
    // display: block;
    tr {
      td {
        border-top: none;
        padding: 12px;
        border-left: 1px solid rgba(34, 36, 38, 0.1);
        border-bottom: 1px solid rgba(34, 36, 38, 0.1);
      }
    }
  }
  tfoot {
    tr {
      td {
        background: none 0% 0% repeat rgb(249, 250, 251);
        border-top: 1px solid rgba(34, 36, 38, 0.15);
        text-align: inherit;
        border-left: none;
        padding: 1em;
        transition-duration: 0.1s, 0.1s;
        border-radius: 0px 0px 0.285714rem 0.285714rem;

        button.prev {
            background-color: #FF5722;
            border: none;
            padding: 4px 6px;
            margin: 0 8px;
            border-radius: 5px;
            color: #fff;
        }

        button.next {
            background-color: #2196F3;
            border: none;
            padding: 4px 6px;
            margin:0 8px;
            border-radius: 5px;
            color: #fff;
        }
      }
    }
  }
}
