<div class="app">
  <h1 class="title">
    Angular Grid Component
  </h1>
  <div *ngIf="tableData.length > 0">
    <app-grid
      [data]="tableData"
      [isPaginatable]="isPaginatable"
      [pageSize]="pageSize"
    ></app-grid>
  </div>
</div>
